.row.content {height: 800px}
#info-box {
position: absolute;;
z-index: 1;
background-color: #ffffff;
border: 2px solid #464646;
border-radius: 5px;
padding: 5px;
font-family: arial;
width: 150px;
height: 100px;
}
path:hover{
cursor:pointer;
}
.land {
fill: rgb(53, 53, 53);
fill-opacity: 0.7;
stroke: rgb(167, 167, 167);

stroke-opacity: 1;
stroke-width: 0.5;
}
.land:hover {
fill-opacity: 1.0;
fill: rgb(66, 66, 66);
}
#loading {
position: absolute;
width: 100%;
height: 100%;
top : -80px;
margin-top: 5px;
display: none;

animation-name: open;
animation-duration: 0.3s;
animation-timing-function: linear;
animation-delay: 0s;
animation-direction: normal;
animation-fill-mode: both;
}

.ball {
width: 10px;
height: 10px;
margin: 10px auto;
border-radius: 50px;
}

.ball:nth-child(1) {
background: #5c5c5c;
-webkit-animation: right 1s infinite ease-in-out;
-moz-animation: right 1s infinite ease-in-out;
animation: right 1s infinite ease-in-out;
}

.ball:nth-child(2) {
background: #5c5c5c;
-webkit-animation: left 1.1s infinite ease-in-out;
-moz-animation: left 1.1s infinite ease-in-out;
animation: left 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
background: #5c5c5c;
-webkit-animation: right 1.05s infinite ease-in-out;
-moz-animation: right 1.05s infinite ease-in-out;
animation: right 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
background: #5c5c5c;
-webkit-animation: left 1.15s infinite ease-in-out;
-moz-animation: left 1.15s infinite ease-in-out;
animation: left 1.15s infinite ease-in-out;
}

.ball:nth-child(5) {
background: #5c5c5c;
-webkit-animation: right 1.1s infinite ease-in-out;
-moz-animation: right 1.1s infinite ease-in-out;
animation: right 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
background: #5c5c5c;
-webkit-animation: left 1.05s infinite ease-in-out;
-moz-animation: left 1.05s infinite ease-in-out;
animation: left 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
background: #5c5c5c;
-webkit-animation: right 1s infinite ease-in-out;
-moz-animation: right 1s infinite ease-in-out;
animation: right 1s infinite ease-in-out;
}

@-webkit-keyframes open {
0% {
top : -50px;
}
100% {
top : 0px;
}
}

@-webkit-keyframes right {
0% {
-webkit-transform: translate(-15px);
}
50% {
-webkit-transform: translate(15px);
}
100% {
-webkit-transform: translate(-15px);
}
}

@-webkit-keyframes left {
0% {
-webkit-transform: translate(15px);
}
50% {
-webkit-transform: translate(-15px);
}
100% {
-webkit-transform: translate(15px);
}
}

@-moz-keyframes right {
0% {
-moz-transform: translate(-15px);
}
50% {
-moz-transform: translate(15px);
}
100% {
-moz-transform: translate(-15px);
}
}

@-moz-keyframes left {
0% {
-moz-transform: translate(15px);
}
50% {
-moz-transform: translate(-15px);
}
100% {
-moz-transform: translate(15px);
}
}

@keyframes right {
0% {
transform: translate(-15px);
}
50% {
transform: translate(15px);
}
100% {
transform: translate(-15px);
}
}

@keyframes left {
0% {
transform: translate(15px);
}
50% {
transform: translate(-15px);
}
100% {
transform: translate(15px);
}
}